body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfe5e4; 
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px; 
    position: sticky;
    top: -54px; 
    z-index: 2;
}

h1 {
    margin: 0;
    font-family: 'Andale Mono';
    font-weight: bold;
}

main {
    padding: 20px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #cfe5e4;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

img:hover {
    transform: scale(1.1);
}

.imgHome {
    width: 50px;
    height: 50px;
}

.imgHome img {
    width: 50%;
    height: 50%;
}

.search-bar {
    border: 3px solid #ccc;
    background-color: #333;
    color: #fff;
    font-weight: lighter;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

figure {
    text-align: center;
    margin-bottom: 0px;
}

figcaption {
    margin-top: 0px;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: center;
}

footer { 
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: -54px; 
    z-index: 2;
  }